---
layout: page
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daniel Núñez</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <br><br>
  <body>

    <!-- header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="name"> Daniel Núñez</h1>
          <h3 class="title"></h3>
        </div>
        <div class="col-xs-6 contact-info">
          <ul class="pull-right">
            <li>reachdanielnunez@gmail.com</li>
            <li>(773) 420-7026</li>
            <li>
              <i class="fa fa-twitter"></i> mostlybadfly
              <i class="fa fa-github"></i> mostlybadfly
            </li>
          </ul>
        </div>
      </div>
      <hr style="margin-top: 0;" />

      <!-- Profile/summary -->
      <div class="row">
        <div class="col-xs-2">
          <h4 class="section-title"> Profile </h4>
        </div>
        <div class="col-xs-10">
          I am looking for a career where I can continue to grow and pursue a passion while contributing my client services experience.
        </div>
      </div>
      <hr />

      <!-- Skills -->
      <div class="row">
        <div class="col-xs-2">
          <h4 class="section-title"> Skills </h4>
        </div>
        <div class="col-xs-10">
          <span class="skill">Programming:</span>
          Ruby
          <br />
          <span class="skill">Web Development:</span>
          Rails,
          HTML,
          CSS,
          Linux,
          Heroku
          <br />
          <span class="skill">Version Control:</span>
          Git
          <br />
        </div>
      </div>
      <hr />

      <!-- Experience -->
      <div class="row">
        <div class="col-xs-2">
          <h4 class="section-title"> Experience </h4>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-6">
              <div class="company"> C.H. Robinson </div>
              <div class="company-position"><em>Credit Analyst</em></div>
            </div>
            <div class="col-xs-6">
              <span class="pull-right"> Jul 2012 -
                Dec 2014 </span>
            </div>
          </div>
          <div class="row company-description">
            <div class="col-xs-12">
              <ul>
                <li class="company-summary">Responsible for </li>
                <li><i class="fa fa-chevron-circle-right"></i> Working in conjunction with internal partners in order to get the customer shipping.</li>
                <li><i class="fa fa-chevron-circle-right"></i> Analyzing and reviewing credit ratings, reaching out to customers as necessary for additional information.</li>
                <li><i class="fa fa-chevron-circle-right"></i> Maintaining a queue of requests in the system as well as through email throughout the day.</li>
                <li><i class="fa fa-chevron-circle-right"></i> Reaching out to references and customers in Latin America.</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="company"> Fellowes </div>
              <div class="company-position"><em>Credit and Collections Analyst</em></div>
            </div>
            <div class="col-xs-6">
              <span class="pull-right"> Feb 1997 -
                Jul 2012 </span>
            </div>
          </div>
          <div class="row company-description">
            <div class="col-xs-12">
              <ul>
                <li class="company-summary">Responsible For</li>
                <li><i class="fa fa-chevron-circle-right"></i> Successful completion of a cross functional project with sales, marketing and IT which involved the planning and implementation of a Latin American Spanish website within 3 months.</li>
                <li><i class="fa fa-chevron-circle-right"></i> Establishing strong relationships with contacts at various levels of a customer&#x27;s organization.</li>
                <li><i class="fa fa-chevron-circle-right"></i> Working in conjunction with my department to improve our sustainability and process simplification, winning us an award for creating savings from within the company.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <!-- Education -->
      <div class="row">
        <div class="col-xs-2">
          <h4 class="section-title"> Education </h4>
        </div>
        <div class="col-xs-10">
          <div class="row education-section">
            <div class="col-xs-10">
              <div class="school"> University of Iowa </div>
              <i class="fa fa-graduation-cap"></i> <span>MA in Hispanic Linguistics</span>
            </div>
            <div class="col-xs-2">
              <div class="pull-right">
                May 2006
              </div>
            </div>
          </div>
          <div class="row education-section">
            <div class="col-xs-10">
              <div class="school"> University of Iowa </div>
              <i class="fa fa-graduation-cap"></i> <span>BA in Spanish/Linguistics</span>
            </div>
            <div class="col-xs-2">
              <div class="pull-right">
                May 2004
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <!-- Interests -->
      <div class="row">
        <div class="col-xs-2">
          <h4 class="section-title"> Interests </h4>
        </div>
        <div class="col-xs-10">
          <span class="skill">Ruby Meetups:</span>
          Chicago Ruby,
          Project Euler Sprint
          <br />
          <span class="skill">Cooking:</span>
          Cooking blog: http://www.comalcaliente.com
          <br />
        </div>
      </div>
      <hr />
  
    </div>    <!-- /end container-fluid -->
  </body>
</html>
